/*
 * @Description: 全局颜色变量
 * @Author: 毛瑞
 * @Date: 2019-07-06 08:30:59
 */
/// 常用颜色 ///
$colorTheme: #2588df; // 主题色
$colorDark: #333;
$colorDeepGrey: #666;
$colorGrey: #777;
$colorLightGrey: #999;
$colorWhite: #fff;

/// 背景色 ///
$colorBackGround: #0d1a25;

/// 文本 ///
$colorText: #cfcfcf;
