/*
 * @Description: 导出全局z-index层级划分
 * @Author: 毛瑞
 * @Date: 2019-07-12 23:00:41
 */
:export {
  top: $zTop;
  background: $zBackground;
  backanimate: $zBackAnimate;
  zero: $zero;
  panel: $zPanel;
  comp: $zComp;
  menu: $zMenu;
  fixed: $zFixed;
  dialog: $zDialog;
  message: $zMessage;
}
