<% const isProd = process.env.NODE_ENV === 'production' %>
<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8" />
  <title>other - <%= process.env.APP_NAME %></title>

  <!-- 优先使用 edge 最新版本和 Chrome -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <!-- 优先webkit内核（360等浏览器) -->
  <meta name="renderer" content="webkit" />

  <!-- 缓存相关(不让百度转码) -->
  <meta http-equiv="Cache-Control" content="max-age=604800,no-siteapp" />
  <!-- <meta http-equiv="Pragma" content="max-age=604800" />
    <meta http-equiv="Expires" content="Thu, 03 Jan 2020 02:19:10 GMT" /> -->

  <!-- 视口(for 移动端) -->
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />

  <!-- 忽略数字被识别为电话号码 -->
  <!-- <meta name="format-detection" content="telephone=no"> -->

  <!-- 禁用字体放大（好像只有UC会） -->
  <!-- <meta name="wap-font-scale" content="no"> -->
  <!-- 苹果离线应用（开启缓存） -->
  <!-- <meta name="apple-mobile-web-app-capable" content="yes"> -->
  <!-- 苹果隐藏状态栏/设置状态栏颜色 -->
  <!-- <meta name="apple-mobile-web-app-status-bar-style" content="black"> -->
  <!-- 强制UC浏览器竖屏显示 -->
  <!-- <meta name="screen-orientation" content="portrait"> -->
  <!-- UC应用模式 -->
  <!-- <meta name="browsermode" content="application"> -->
  <!-- 强制QQ浏览器竖屏显示 -->
  <!-- <meta name="x5-orientation" content="portrait"> -->
  <!-- QQ应用模式 -->
  <!-- <meta name="x5-page-mode" content="app"> -->

  <!-- 网页描述元数据(搜索引擎) -->
  <!-- 关键字 -->
  <!-- <meta name="keywords" content=""> -->
  <!-- 作者 -->
  <!-- <meta name="author" content=""> -->
  <!-- 描述 -->
  <!-- <meta name="description" content=""> -->

  <!-- 社交媒体 （UC没找到） -->
  <!-- http://open.mobile.qq.com/api/mqq/index -->
  <!-- QQ分享标题 -->
  <!-- <meta itemprop="name" content=""> -->
  <!-- QQ分享缩略图 -->
  <!-- <meta itemprop="image" content=""> -->
  <!-- og:facebook提出的The Open Graph protocol 微博等好像也识别
      （搜索引擎会抓取，但在单页应用意义不大）
      别的还有Twitter等的meta不要了 -->
  <!-- <meta property="og:type" content="website"> -->
  <!-- <meta property="og:description" content=""> -->
  <!-- <meta property="og:title" content=""> -->
  <!-- <meta property="og:image" content=""> -->
  <!-- <meta property="og:url" content=""> -->

  <!-- 网页图标 -->
  <link rel="shortcut icon" href="<%= BASE_URL %>favicon.ico" />

  <!-- 自动插入打包资源 -->
</head>
<!-- 生产环境容器 body#app / 开发环境容器 body>div#app -->
<%= isProd ? '<body id="app">' : '<body><div id="app">' %>

<!-- 手写页面骨架 -->
<style>
  body {
    margin: 0;
    overflow: hidden;
    font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
</style>
<p style="margin: 0; padding-top: 45vh; color: snow; font-size: x-large; text-align: center;">
  加载中，请稍候...
  <!-- 不支持js脚本提示 -->
  <noscript><strong>您的终端未启用JavaScript，请启用后重试</strong></noscript>
</p>

<!-- 自动插入打包脚本 -->
<%= isProd ? '</body>' : '</div></body>' %>

</html>
