/*
 * @Description: 全局scss变量
 *  【此文件中请勿出现具体样式，否则会打包到!所有!css chunk中】
 *  【在此文件中导出的变量会混合到!所有!scss的导出中】
 *  【请使用命名空间或规划好命名方式以避免变量名冲突】
 * @Author: 毛瑞
 * @Date: 2019-06-19 11:34:44
 */
/// 变量 (私有变量 _+camelCase)///
@import './colors'; // 颜色 【colorCase】: colorRed
@import '../parts/border'; // 边框 【(border|shadow)Case】: borderSolidWidth
@import '../parts/fontSIzes'; // 字号 【cssCase】: xSmaller、xxxLarge
@import '../parts/zIndexes'; // z-index层级划分 【zCase】: zMessage
@import '../parts/layout'; // 固定布局尺寸 【(height|width)Case】: heightHeader、widthLfetColumn
@import '../parts/scrollBar'; // 滚动条变量 【scrollBarCase】
@import '../parts/icon'; // 字体图标变量 【iconCase】

/* ---------------------- 我是一条分割线 (灬°ω°灬) ---------------------- */

/// 扩展（@extend %ellipsis;） ///

// 单行文本溢出省略号
%ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// 在页面居中【需要指定高宽】
%centerPage {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

/* ---------------------- 我也是一条分割线 (*❦ω❦) ---------------------- */

/// 混入（@include name(args);） ///

// 多行溢出省略号(-webkit-有效，其它截断) 参数为行数
@mixin ellipsis($clamp) {
  // -webkit-多行溢出省略号
  -webkit-box-orient: vertical; /* stylelint-disable-line property-no-vendor-prefix */
  -webkit-line-clamp: $clamp;
  display: -webkit-box; /* stylelint-disable-line value-no-vendor-prefix */
  overflow: hidden;
  word-break: break-word;
}
