/// 【全局样式】 ///

/// [基础] ///
@import '~@/scss/reset';

// [element-ui] ///
@import '~element-ui/packages/theme-chalk/src/base'; // 含字体图标和过渡动画
// 条件隐藏
// https://element.eleme.cn/#/zh-CN/component/layout#ji-yu-duan-dian-de-yin-cang-lei
// @import '~element-ui/lib/theme-chalk/display';
// 布局
@import '~element-ui/packages/theme-chalk/src/row';
@import '~element-ui/packages/theme-chalk/src/col';
@import '~element-ui/packages/theme-chalk/src/container';
@import '~element-ui/packages/theme-chalk/src/aside';
@import '~element-ui/packages/theme-chalk/src/main';
// 基础
@import '~element-ui/packages/theme-chalk/src/button';
@import '~element-ui/packages/theme-chalk/src/button-group';
@import '~element-ui/packages/theme-chalk/src/link';
@import '~element-ui/packages/theme-chalk/src/loading';
@import '~element-ui/packages/theme-chalk/src/divider';
@import '~element-ui/packages/theme-chalk/src/Card';
// 弹窗&表单
@import '~element-ui/packages/theme-chalk/src/dialog';
@import '~element-ui/packages/theme-chalk/src/form';
@import '~element-ui/packages/theme-chalk/src/form-item';
@import '~element-ui/packages/theme-chalk/src/input';
@import '~element-ui/packages/theme-chalk/src/autocomplete';
@import '~element-ui/packages/theme-chalk/src/select';
@import '~element-ui/packages/theme-chalk/src/option';
@import '~element-ui/packages/theme-chalk/src/option-group';
// 提示
@import '~element-ui/packages/theme-chalk/src/tooltip';
@import '~element-ui/packages/theme-chalk/src/popover';
@import '~element-ui/packages/theme-chalk/src/message';
@import '~element-ui/packages/theme-chalk/src/message-box';
@import '~element-ui/packages/theme-chalk/src/notification';
// 滚动面板【隐藏组件】
@import '~element-ui/packages/theme-chalk/src/scrollbar';

/// 【覆盖element-ui】 ///
// <a> 按钮
.el-button {
  text-decoration: none;
}
// 表格
.el-table tbody {
  color: $colorTextCommon;
}
// 条纹
.el-table__row--striped td {
  background: rgba($colorTheme9, 0.3) !important;
}
// 选中行
.current-row > td {
  background: rgba($colorTheme6, 0.6) !important;
}
// input:text/textarea数字统计
.el-range-editor .el-range-input {
  background: $colorTransparent;
}

.el-input,
.el-textarea {
  .el-input__count {
    line-height: $larger;
  }
}
// 滚动条
.el-scrollbar > .el-scrollbar__bar {
  opacity: 1;
  transition: 0.3s;

  &.is-vertical {
    width: $scrollBarSize;

    > .el-scrollbar__thumb {
      min-height: $scrollBarMinSize;
      background: $colorScrollBarThumb;
      border-radius: $scrollBarRadius;
      transition: 0.3s;
    }
  }

  &.is-horizontal {
    height: $scrollBarSize;

    > .el-scrollbar__thumb {
      min-width: $scrollBarMinSize;
      background: $colorScrollBarThumb;
      border-radius: $scrollBarRadius;
      transition: 0.3s;
    }
  }

  > .el-scrollbar__thumb:hover {
    background: $colorScrollBarThumbHover;
  }

  &:hover {
    background: $colorScrollBarHover;
  }
}
// 通知
.el-notification {
  position: fixed;
  z-index: $zFixed !important;
  margin-top: $heightHeader;
}
// loading & 遮罩
.v-modal,
.el-loading-mask {
  z-index: $zFixed !important;
  background-color: rgba($colorBackGround, 0.9);
}
// 弹窗
.el-dialog__wrapper {
  z-index: $zInfo !important;
}
// 对话框
.el-message-box__wrapper {
  z-index: $zDialog !important;
}
// 消息提示
.el-message {
  z-index: $zMessage !important;
  margin-top: $heightHeader;
}
// 鼠标提示&弹出框
.el-popper,
.el-popover,
.el-tooltip__popper {
  z-index: $zTop !important;
}
