/*
 * @Description: 布局
 * @Author: 毛瑞
 * @Date: 2019-07-09 16:17:25
 * @LastEditors: 毛瑞
 * @LastEditTime: 2019-07-11 16:17:02
 */

.wrapper {
  padding: 10% 0;
  margin-top: 30vh;
  color: $colorText;
  text-align: center;
  font-size: $xx-large;
  background: url(~@index/assets/bg-grid.png);
}
