/** 字体图标
*/
$iconFamily: 'antDesign'; // 字体名
$iconEot: url('~@/scss/font/antDesign.eot');
$iconSrc: url('~@/scss/font/antDesign.eot?#iefix') format('embedded-opentype'),
  url('~@/scss/font/antDesign.woff2') format('woff2'),
  url('~@/scss/font/antDesign.woff') format('woff'),
  url('~@/scss/font/antDesign.ttf') format('truetype'),
  url('~@/scss/font/antDesign.svg#antDesign') format('svg');
