/*
 * @Description: 全局固定布局尺寸
 * @Author: 毛瑞
 * @Date: 2019-07-06 09:11:16
 */
/// 视口尺寸 ///
$sm: 768px;
$md: 992px;
$lg: 1200px;
$xl: 1920px;

$gapNormal: 24px; // 通用间距
$heightHeader: 72px; // header高度

$gapLeft: $gapNormal; // 内容左边距
$gapRight: $gapNormal; // 内容右边距
$gapBottom: $gapNormal; // 内容下边距
$gapTop: $heightHeader + $gapNormal; // 内容上边距

$heightInput: 40px; // 输入框(medium尺寸)高度
