/*
 * @Description: 导出全局颜色
 * @Author: 毛瑞
 * @Date: 2019-07-12 22:52:36
 * @LastEditors: 毛瑞
 * @LastEditTime: 2019-07-12 22:59:37
 */

:export {
  dark: $colorDark;
  grey: $colorGrey;
  deepgrey: $colorDeepGrey;
  lightgrey: $colorLightGrey;
  background: $colorBackGround;
  highlight: $colorHighlight;
  // ...
}
