/*
 * @Description: 导出全局布局尺寸
 * @Author: 毛瑞
 * @Date: 2019-07-12 22:52:36
 * @LastEditors: 毛瑞
 * @LastEditTime: 2019-07-12 22:59:50
 */

 :export {
  head: $_heightHeader;
  foot: $_heightFooter;
  lfet: $_widthLfetColumn;
  right: $_widthRightColumn;
  // ...
}
