@charset "utf-8"; // 必须顶头 scss默认会压缩成 utf-8 with BOM

$family: 'antDesign'; // 字体名

// 查看图标(只取了几个作示例): https://www.iconfont.cn/collections/detail?spm=a313x.7781069.1998910419.d9df05512&cid=9402
@font-face {
  font-family: $family;
  src: url('~@/scss/font/iconfont.eot');
  src:
    url('~@/scss/font/iconfont.eot?#iefix') format('embedded-opentype'),
    url('~@/scss/font/iconfont.woff2') format('woff2'),
    url('~@/scss/font/iconfont.woff') format('woff'),
    url('~@/scss/font/iconfont.ttf') format('truetype'),
    url('~@/scss/font/iconfont.svg#iconfont') format('svg');
}

// 所有字体图标
[class*='i-']::before {
  display: inline-block;
  font-family: $family;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;
  vertical-align: baseline;
  font-feature-settings: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-check-circle::before {
  content: '\e77d';
}

.i-CI::before {
  content: '\e77e';
}

.i-Dollar::before {
  content: '\e77f';
}

.i-compass::before {
  content: '\e780';
}

.i-close-circle::before {
  content: '\e781';
}

.i-frown::before {
  content: '\e782';
}

.i-info-circle::before {
  content: '\e783';
}

.i-left-circle::before {
  content: '\e784';
}

.i-down-circle::before {
  content: '\e785';
}
