/*
 * @Description: 浏览器样式重置
 * @Author: 毛瑞
 * @Date: 2019-07-01 14:01:23
 */

// https://www.sass.hk/docs @import
@import '~normalize.css'; // 浏览器样式重置
@import 'scroll.scss'; // 滚动条样式

// placeholder 样式
// input,
// textarea {
//   -webkit-appearance: none;

//   &::placeholder {
//     color: $colorText;
//   }

//   // WebKit
//   &::-webkit-input-placeholder {
//     color: $colorText;
//   }

//   // Firefox 19+
//   &::-moz-placeholder {
//     color: $colorText;
//   }

//   // Firefox 4 - 18
//   &:-moz-placeholder {
//     color: $colorText;
//   }

//   // IE 10+
//   &:-ms-input-placeholder {
//     color: $colorText;
//   }
// }
