/*
 * @Description: 浏览器样式重置
 * @Author: 毛瑞
 * @Date: 2019-07-01 14:01:23
 * @LastEditors: 毛瑞
 * @LastEditTime: 2019-07-01 14:54:55
 */
p,
h1,
h2,
h3,
h4,
h5,
h6,
th,
td,
hr,
dl,
dt,
dd,
ul,
ol,
li,
pre,
body,
form,
input,
legend,
button,
fieldset,
textarea,
blockquote {
  margin: 0;
  padding: 0;
}

body,
input,
button,
select,
textarea {
  font: 12px/1.5tahoma, arial, \5b8b\4f53;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}

em,
var,
dfn,
cite,
address {
  font-style: normal;
}

kbd,
pre,
code,
samp {
  font-family: couriernew, courier, monospace;
}

small {
  font-size: 12px;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

legend {
  color: #000;
}

img,
fieldset {
  border: 0;
}

input,
button,
select,
textarea {
  font-size: 100%;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

// placeholder 样式
// input,
// textarea {
//   -webkit-appearance: none;

//   // 得分开写 不然无效
//   &::placeholder {
//     color: $fontColor;
//   }

//   // WebKit
//   &::-webkit-input-placeholder {
//     color: $fontColor;
//   }

//   // Firefox 19+
//   &::-moz-placeholder {
//     color: $fontColor;
//   }

//   // Firefox 4 - 18
//   &:-moz-placeholder {
//     color: $fontColor;
//   }

//   // IE 10+
//   &:-ms-input-placeholder {
//     color: $fontColor;
//   }
// }
