/*
 * @Description: 浏览器样式重置
 * @Author: 毛瑞
 * @Date: 2019-07-01 14:01:23
 */
@import './scrollBar'; // 滚动条样式

body {
  color: $colorTextCommon;
  font-size: $medium;
  font-family:
    'Helvetica Neue',
    Helvetica,
    'PingFang SC',
    'Hiragino Sans GB',
    'Microsoft YaHei',
    '微软雅黑',
    Arial,
    sans-serif;
  background: $colorBackGround;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
// placeholder 样式
// input,
// textarea {
//   -webkit-appearance: none;

//   &::placeholder {
//     color: $colorTextCommon;
//   }

//   // WebKit
//   &::-webkit-input-placeholder {
//     color: $colorTextCommon;
//   }

//   // Firefox 19+
//   &::-moz-placeholder {
//     color: $colorTextCommon;
//   }

//   // Firefox 4 - 18
//   &:-moz-placeholder {
//     color: $colorTextCommon;
//   }

//   // IE 10+
//   &:-ms-input-placeholder {
//     color: $colorTextCommon;
//   }
// }
