/*
 * @Description: 统一滚动条样式(就不用滚动条插件了)
 * @Author: 毛瑞
 * @Date: 2019-07-01 14:04:31
 */
/// chrome ///
// 背景条
::-webkit-scrollbar {
  width: $scrollBarSize;
  height: $scrollBarSize;
  background: none;
  border-radius: $scrollBarRadius;
  transition: 0.3s;
}
// 拖拽按钮
::-webkit-scrollbar-thumb {
  min-width: $scrollBarMinSize;
  min-height: $scrollBarMinSize;
  background: $colorScrollBarThumb;
  border-radius: $scrollBarRadius;
  transition: 0.3s;
}
// 上下按钮
::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar:hover {
  background: $colorScrollBarHover;
}

::-webkit-scrollbar-thumb:hover {
  background: $colorScrollBarThumbHover;
}

/// FireFox ///
// 只有某些版本有效好像
// $-moz-document url-prefix(http) {
//   // 滚动条颜色
//   scrollbar {
//     -moz-appearance: none !important;
//     background: transparent !important;

//     &:hover {
//       background: $colorScrollBarHover;
//     }
//   }

//   // 滚动条按钮颜色
//   thumb,
//   scrollbarbutton {
//     -moz-appearance: none !important;
//     background-color: $colorScrollBarHover !important;
//   }

//   // 鼠标悬停时按钮颜色
//   thumb:hover,
//   scrollbarbutton:hover {
//     -moz-appearance: none !important;
//     background-color: $colorScrollBarThumb !important;
//   }

//   // 隐藏上下箭头
//   scrollbarbutton {
//     display: none !important;
//   }

//   // 纵向滚动条宽度
//   scrollbar[orient='vertical'] {
//     width: $scrollBarSize !important;
//   }

//   // 横向滚动条高度
//   scrollbar[orient='horizontal'] {
//     height: $scrollBarSize !important;
//   }
// }

/// all ///
* {
  scroll-behavior: smooth; // 平滑滚动
  scrollbar-arrow-color: $colorScrollBarThumbHover; // 三角箭头的颜色

  // IE 9及以上（不支持透明度/transparent）
  scrollbar-base-color: $colorScrollBarHover; // 滚动条的基本颜色
  scrollbar-color: $colorScrollBarThumb transparent;
  scrollbar-darkshadow-color: $colorScrollBarThumbHover; // 立体滚动条强阴影的颜色
  scrollbar-face-color: $colorScrollBarThumb; // 立体滚动条的颜色
  scrollbar-highlight-color: $colorScrollBarHover; // 滚动条空白部分的颜色
  scrollbar-shadow-color: $colorScrollBarThumb; // 立体滚动条阴影的颜色
  scrollbar-track-color: $colorScrollBarHover; // 立体滚动条背景颜色

  // FireFox
  scrollbar-width: thin;
}
