/*
 * @Description: 全局颜色变量
 * @Author: 毛瑞
 * @Date: 2019-07-06 08:30:59
 * @LastEditors: 毛瑞
 * @LastEditTime: 2019-07-12 22:57:49
 */

$colorDark: #333;
$colorDeepGrey: #666;
$colorGrey: #777;
$colorLightGrey: #999;
$colorBackGround: #0d1a25;
$colorHighlight: #2588df;
$colorText: #cfcfcf;
