/*
 * @Description: 全局颜色变量
 * @Author: 毛瑞
 * @Date: 2019-07-06 08:30:59
 */

$colorDark: #333333;
$colorDeepGrey: #666666;
$colorGrey: #777777;
$colorLightGrey: #999999;
$colorBackGround: #0d1a25;
$colorHighlight: #2588df;
$colorText: #cfcfcf;
