/*
 * @Description: 全局固定布局尺寸
 * @Author: 毛瑞
 * @Date: 2019-07-06 09:11:16
 */

$heightHeader: 60px; // header高度
$heightFooter: 60px; // footer高度

$widthLfetColumn: 300px; // 左边栏宽度
$widthRightColumn: 300px; // 右边栏宽度
