/** 滚动条
*/

$scrollBarWidth: 5px; // 滚动条宽度
$scrollBarRadius: 5px; // 滚动条圆角
$scrollBarMinHeight: 5px; // 滚动条最小高度

$colorScrollBarThumb: $colorGrey; // 滚动条滑块颜色
$colorScrollBarHover: $colorLightGrey; // 滚动条颜色
$colorScrollBarThumbHover: $colorLightGrey; // 滚动条滑块颜色
