/*
 * @Description: 全局颜色变量
 * @Author: 毛瑞
 * @Date: 2019-07-06 08:30:59
 */
/// 常用颜色 ///
$colorBlank: #000; // 黑色
$colorWhite: #fff; // 白色
$colorTransparent: #0000; // 透明

// 【主题色】
$colorTheme: #409eff;
$colorTheme1: mix($colorWhite, $colorTheme, 10%);
$colorTheme2: mix($colorWhite, $colorTheme, 20%);
$colorTheme3: mix($colorWhite, $colorTheme, 30%);
$colorTheme4: mix($colorWhite, $colorTheme, 40%);
$colorTheme5: mix($colorWhite, $colorTheme, 50%);
$colorTheme6: mix($colorWhite, $colorTheme, 60%);
$colorTheme7: mix($colorWhite, $colorTheme, 70%);
$colorTheme8: mix($colorWhite, $colorTheme, 80%);
$colorTheme9: mix($colorWhite, $colorTheme, 90%);

// 【辅助色】
$colorSuccess: #67c23a;
$colorSuccess1: mix($colorWhite, $colorSuccess, 80%);
$colorSuccess2: mix($colorWhite, $colorSuccess, 90%);

$colorWarn: #e6a23c;
$colorWarn1: mix($colorWhite, $colorWarn, 80%);
$colorWarn2: mix($colorWhite, $colorWarn, 90%);

$colorDanger: #f56c6c;
$colorDanger1: mix($colorWhite, $colorDanger, 80%);
$colorDanger2: mix($colorWhite, $colorDanger, 90%);

$colorInfo: #909399;
$colorInfo1: mix($colorWhite, $colorInfo, 80%);
$colorInfo2: mix($colorWhite, $colorInfo, 90%);

// 【中性色】
$colorTextMain: #303133; // 主要文字
$colorTextCommon: #606266; // 常规文字
$colorTextMinor: #909399; // 次要文字
$colorTextHolder: #c0c4cc; // 占位文字

$colorBorderLv1: #dcdfe6; // 一级边框
$colorBorderLv2: #e4e7ed; // 二级边框
$colorBorderLv3: #ebeef5; // 三级边框
$colorBorderLv4: #f2f6fc; // 四级边框

/// 背景色 ///
$colorBackGround: #0d1a25;
