/** 滚动条
*/
$scrollBarSize: 4px; // 滚动条宽高
$scrollBarRadius: 4px; // 滚动条圆角
$scrollBarMinSize: 15px; // 滚动条最小宽高

$colorScrollBarThumb: $colorTheme3; // 滚动条滑块颜色
$colorScrollBarHover: $colorTheme5; // 滚动条颜色
$colorScrollBarThumbHover: $colorTheme; // 滚动条滑块颜色
